@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SegUIVar';
  src: url('../public/assets/fonts/SegUIVar.ttf');
  font-weight: 400;
  font-style: normal;
  }

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'SegUIVar';

  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 6px;
  height: 0px;
  
}
::-webkit-scrollbar-track{
  background-color: rgb(241, 237, 237);
  
}
::-webkit-scrollbar-thumb{
  background-color: rgb(170, 168, 168);
  border-radius: 1rem;
}